{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'assets\img\favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bower_components/jqcloud2/dist/jqcloud.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    {% block css %}

    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets\img\coderfox.png' %}" alt="" class="img-fluid">
      </a>
      <button id="ChangeToggle" class="navbar-toggler ml-auto float-right" type="button" onclick="openNav()">
        <div id="navbar-hamburger">
          <span class="navbar-toggler-icon"></span>
        </div>
        <div id="navbar-close" class="hidden">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'protfolioweb:classes' %}">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'protfolioweb:services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'protfolioweb:contact' %}">Contact</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Login<i class="fas fa-hammer"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/">Home</a>
      <a href="{% url 'protfolioweb:classes' %}">Classes</a>
      <a href="{% url 'protfolioweb:services' %}">Services</i></a>
      <a href="{% url 'protfolioweb:contact' %}">Contact</a>
    </div>
  </nav>




  <!--Page content Begin-->
  {% block content %}

  {% endblock %}
  <!--Page content End-->


  <!-- footer -->
  <footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
      <div class="overlay"></div>
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-4 fh5co-widget">
            <h3>A Little About CoderFoxBD.</h3>
            <p style="color: #656565;">A full-stack web developer who also knows Graphic designing,
             Video editing, Character animation and others in need. Flexible, Dedicated, Punctual and an Honest person. Also have dream of traveling the world.</p>
          </div>
          <div class="col-md-6">
            <h3>Classes</h3>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                </ul>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                </ul>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                  <li><a href="#">-------</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <h3>Follow Me</h3>
            <a href="https://www.facebook.com/C-O-D-E-R-F-O-X-B-D-103337908295918"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://github.com/coder-fox-bd"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/coderfoxbd/"><i class="fab fa-linkedin fa-2x"></i></i></a>
          </div>
        </div>

        <div class="row copyright mt-4">
          <div class="col-md-12 text-center">
            <p>
              <small class="block">&copy; 2020 | All Rights Reserved.</small>
              <small class="block">Powered by  coderfoxbd.pythonanywhere.com</small>
            </p>
          </div>
        </div>

      </div>
    </footer>
    <script src="{% static 'bower_components/jquery/jquery.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'bower_components/typed.js/dist/typed.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'bower_components/jqcloud2/dist/jqcloud.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'assets/scripts/app.js' %}" charset="utf-8"></script>
    {% block js %}

    {% endblock js %}
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <script>
    jQuery(function() {
        var pgurl = window.location.href.substr(window.location.href
          .lastIndexOf("/")+1);
        jQuery("#navbarResponsive ul li a").each(function(){
          if(jQuery(this).attr("href") == pgurl || jQuery(this).attr("href") == '' )
            jQuery(this).addClass("active");
        })
      });
    </script> 
  </body>
</html>