{% extends 'protfolioweb/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/services.css' %}">
{% endblock %}

{% block content %}

	<div class="content-main">
		<div class="container pt-5">
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-md-6">
		   					<img src="{% static 'assets/images/webapp.png' %}" alt="" class="img-fluid">
		   				</div>
		   				<div class="col-md-6">
		   					<h2>Wep Application</h2>
		   					<p>Web application development is the process and practice of developing web applications. There is a consensus that the processes involved are extensions of standard software engineering processes. Considering this, along with its unique characteristics, popular frameworks used include the spiral approach and business-oriented approach to application development, among other models that address the requirements for an iterative process. I have experience in Laravel and Django framework. I will use whatever you want.</p>
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-sm-12 col-md-5">
		   					<h2>Custom Website</h2>
		   					<p>How effective is your small business website? Or do you need a website to grow your business? It is time to give your small business a fresh professional look. I began by getting know your business and pottential audiences/customers. I understand your needs and your expectation from a website. I'll build a custom website that will achieve your goals and let you grow your business.</p>
		   				</div>
		   				<div class="col-sm-12 col-md-6 order-first order-md-last">
		   					<img src="{% static 'assets/images/custom-design.png' %}" alt="" class="img-fluid">
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-md-6">
		   					<img src="{% static 'assets/images/bug-fixing.png' %}" alt="" class="img-fluid">
		   				</div>
		   				<div class="col-md-6">
		   					<h2>Bug Fixing</h2>
		   					<p>When the expected and actual behavior does not match, a scenario concerning software testing, it is due to a technical glitch, a.k.a bug.  Once you spot, bug fixing should be carried out as soon as possible. Not doing so immediately, will lead to inaccurate status updates and estimates. Above all, for App maintenance, bug fixing is necessary. I'll debug your Laravel/Django web app. I also will fix any kind of html, css, javascript, jquery, ajax, php, python, mysql, sqlite error.</p>
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-sm-12 col-md-6">
		   					<h2>Scripting</h2>
		   					<p>You need to automate a work with your web app, or you need api! I'm here to help. I'll write any kind of python, php, javascript, jquery, ajax script for you. You are new to software development and trying to write a complicated script and got stucked! Don't worry! I got your back. I'll write it for you.</p>
		   				</div>
		   				<div class="col-sm-12 col-md-6 order-first order-md-last">
		   					<img src="{% static 'assets/images/scripting.png' %}" alt="" class="img-fluid">
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-md-6">
		   					<img src="{% static 'assets/images/landing-page.png' %}" alt="" class="img-fluid">
		   				</div>
		   				<div class="col-md-6">
		   					<h2>Landing Page</h2>
		   					<p>You are doing digital marketing! Your are doing advertising campaign! You need a landing page! Unlike web pages, which typically have many goals and encourage exploration, landing pages are designed with a single focus or goal, known as a call to action (or CTA, for short). Not everyone can do that. But don't worry! I can help with that.</p>
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-sm-12 col-md-6">
		   					<h2>Email Template</h2>
		   					<p>An email template is an HTML file. HTML—or hypertext markup language—is the code that defines the structure and content in an email campaign. It allows you to add things like images and links to an email and, along with CSS—or cascading style sheets—lets you style the campaign to better reflect your company or personal styles. I'll make beautiful template for you to make your subscriber say, Wow!</p>
		   				</div>
		   				<div class="col-sm-12 col-md-6 order-first order-md-last">
		   					<img src="{% static 'assets/images/email-template.png' %}" alt="" class="img-fluid">
		   				</div>
		   			</div>
	  			</div>
			</div>
			<div class="card card-1 text-center mb-5">
	  			<div class="card-body">
		  			<div class="row">
						<div class="col-md-6">
		   					<img src="{% static 'assets/images/help.png' %}" alt="" class="img-fluid">
		   				</div>
		   				<div class="col-md-6">
		   					<h2>Help/Consultation</h2>
		   					<p>Do you need any help with your website or web app? I'm here to help.
		   					 I can help you deploy your app, fixing any issue, answer questions, help with cpanel, making environment for your app so that you can run and see the real results. I'll help you with any kind of website/web app related problem.</p>
		   				</div>
		   			</div>
	  			</div>
			</div>
		</div>
	</div>			


{% endblock %}